 /* Redefinir margens e preenchimento */
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

section {
    padding: 20px;
    margin: 20px 0;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.hero {
    background: url(./Assets/image/WhatsApp\ Image\ 2024-11-06\ at\ 12.16.46.jpeg) no-repeat center center/cover;
    height: 400px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hero h1 {
    font-size: 3em;
}

.servicos, .contato {
    display: flex;
    justify-content: space-around;
}

.servico-item, .contato-info {
    background: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 45%;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
}